@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", serif;
}

.MuiButtonBase-root-MuiButton-root,
.MuiTableCell-root,
.MuiButtonBase-root,
.MuiTypography-root,
.MuiButton-label,
.MuiListItemText-primary,
.MuiListItemText-secondary {
    font-family: "Roboto", serif !important;
}

#root {
    padding-top: 60px;
}

.content {
    margin: 20px;
    font-family: "Roboto", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

p, span, div, a, li, button {
    font-family: "Roboto", serif;
    font-weight: 400;
}
