.navigation-modal {
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.close-button {
    margin-left: 20px !important;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px; /* Отступ для выравнивания */
    line-height: 60px; /* Обеспечим выравнивание по высоте */
}
