.navigation-modal {
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.navigation-close-button {
    margin-left: 10px !important;
}

.navigation-modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 60px;
}

.navigation-modal-list {
    width: 100%;
    margin-left: 10px;
}

.navigation-list-icon {
    font-size: 32px;
    min-width: 40px; /* Устанавливаем минимальную ширину для иконок */
}

.navigation-list-text {
    font-size: 16px; /* Обеспечиваем выравнивание текста */
}

/* Стили для ссылок */
.navigation-modal a {
    color: black; /* Устанавливаем цвет ссылок черным */
}


