.notification-button {
    position: fixed;
    align-items: center;
    right: 90px;
    z-index: 1000;
}

.unread-notification {
    font-weight: bold;
    background-color: #f0f8ff;
}

.read-notification {
    font-weight: normal;
    background-color: white;
}
