/* Стили для кнопки уведомлений */
.notification-button {
    position: fixed;
    align-items: center;
    right: 90px;
    z-index: 1000;
}

/* Стили для контейнера уведомлений */
.notifications-page {
    margin: 20px auto;
    max-width: 80%;
    padding: 15px;
}

.notifications-page h2 {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.notifications-page ul {
    list-style-type: none;
    padding: 0;
    max-width: 80%;
    margin: 20px auto;
    padding: 15px;
}

.notifications-page li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notification-text {
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
    text-overflow: ellipsis; /* Добавляет многоточие для длинного текста */
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px; /* Добавляем отступ справа от кнопки */
}

/* Стили для прочитанных и непрочитанных уведомлений */
.unread-notification {
    font-weight: bold;
    background-color: #f0f8ff;
}

.read-notification {
    font-weight: normal;
    background-color: white;
}

/* Стили для кнопки "Mark as read" */
.mark-as-read-btn {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
}

.mark-as-read-btn:hover {
    background-color: #1565c0;
}

/* Стабильная ширина для окна уведомлений */
.notification-menu {
    width: 35%;
}

/* Стили для уведомлений в выпадающем меню */
.notification-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
