/* Стили для контейнера таблицы */
.table-container {
    margin: 20px auto;
    max-width: 80%;
    padding: 15px;
}

/* Стиль для заголовков таблицы */
.table-header {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    position: relative; /* Добавлено для позиционирования кнопки */
}

/* Стиль для кнопки */
.create-task-btn {
    position: absolute !important; /* Позволяет переместить кнопку внутри заголовка */
    right: 0 !important; /* Привязка к правому краю */
    top: 0 !important;
    background-color: #1976d2 !important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 10px 20px !important; /* Увеличиваем внутренний отступ */
    font-size: 1rem !important; /* Увеличиваем шрифт */
    border: none !important;
    border-radius: 8px !important; /* Закругляем края больше для лучшего внешнего вида */
    cursor: pointer !important;
    text-transform: none !important;
    line-height: 20px !important;
}

.create-task-btn:hover {
    background-color: #1565c0;
}

/* Стиль для строк таблицы */
.styled-table-row {
    &:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

/* Стиль для заголовков таблицы */
.styled-table-head-cell {
    font-weight: bold !important;
    color: #333;
    text-align: center;
    padding: 10px;
    width: 150px; /* Устанавливаем фиксированную ширину для всех столбцов, кроме Description */
    justify-content: space-between; /* Распределяем содержимое (текст и стрелку) */
    white-space: nowrap; /* Запрещаем перенос текста */
}

/* Стиль для ячеек таблицы */
.styled-table-cell {
    font-weight: normal;
    color: #616161;
    background-color: #f5f5f5;
    padding: 10px;
    width: 150px; /* Устанавливаем фиксированную ширину для всех ячеек, кроме Description */
    text-overflow: ellipsis; /* Добавляем многоточие для длинных строк */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.styled-table-head-cell.action {
    text-align: center !important;
}

/* Стиль для столбца с действиями */
.action-column {
    text-align: center !important; /* Выравниваем по центру */
    display: flex; /* Используем flex для управления расположением значков */
    justify-content: center; /* Центрируем значки */
    align-items: center !important; /* Центрируем значки по вертикали */
    gap: 10px; /* Отступ между значками */
}

/* Стиль для последнего столбца (Description) */
.styled-table-head-cell.description, 
.styled-table-cell.description {
    width: auto; /* Этот столбец будет занимать оставшееся пространство */
    white-space: normal; /* Разрешаем перенос текста в ячейках */
}

/* Стили для индикаторов сортировки */
.sort-indicator {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #555;
    vertical-align: middle;
}

/* Стили для приоритета и статуса*/
.status-circle, .priority-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}
/* Стили для иконок*/
.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 8px;
}

.styled-table-row {
    transition: background-color 0.3s ease, transform 0.3s ease !important;
}

.styled-table-row.highlighted-row {
    background-color: #f0f8ff !important; /* мягкий голубой фон */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important; /* тень */
    transform: scale(1.02) !important; /* небольшой эффект увеличения */
}

.styled-table-row:hover {
    background-color: #e6f7ff !important; /* светлый фон при наведении */
}



