.table-container-wrapper {
    overflow: hidden;
}

.table-container {
    margin: 20px auto;
    max-width: 85%;
    position: relative;
    max-height: 85vh;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 15;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #ddd;
}

.table-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.35rem !important;
}

.create-task-btn {
    position: relative !important;
    background-color: #1976d2 !important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    font-size: 1rem !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    text-transform: none !important;
    line-height: 20px !important;
    margin-left: auto !important;
    margin-right: 5px !important;
}

.create-task-btn:hover {
    background-color: #1565c0;
}

/* Фиксированный заголовок таблицы */
.sticky-table-head {
    position: sticky;
    top: 67px;
    background: white;
    z-index: 10;
}

/* Стиль для строк таблицы */
.styled-table-row {
    &:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

/* Стиль для заголовков таблицы */
.styled-table-head-cell {
    font-weight: bold;
    background: #f4f4f4;
    text-align: left;
    padding: 16px;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Стиль для ячеек таблицы */
.styled-table-cell {
    font-weight: normal;
    color: #616161;
    background-color: #f5f5f5;
    padding: 10px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.styled-table-head-cell.action {
    text-align: center !important;
}

.styled-table-head-cell.description,
.styled-table-cell.description {
    width: auto;
    white-space: normal;
}

.sort-indicator {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #555;
    vertical-align: middle;
}

.status-circle, .priority-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}


.action-column {
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.icon-button{
    min-width: 18px !important;
}

.icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 4px;
}

.styled-table-row {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.styled-table-row.highlighted-row {
    background-color: #f0f8ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.styled-table-row:hover {
    background-color: #e6f7ff;
}